{% extends 'base.html' %}
{% block title%} <title>MLift - Login</title> {% endblock %}
{% load static %}

{% block content %}
		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">

						<div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-unlock"></i>로그인해 주세요</div>
						<div class="justify-content-center clearfix ">
							<form id="login-form" name="login-form" class="nobottommargin" action="{%url 'accounts:login'%}" method="post">
								{% csrf_token %}
								<div class="col_full">
									<label for="login-form-username">ID:</label>
									{{ form.username }}
								</div>

								<div class="col_full">
									<label for="login-form-password">Password:</label>
									{{ form.password }}
								</div>

								<div class="col_full nobottommargin">
									<button class="button button-3d button-black nomargin" id="login-form-submit" name="login-form-submit" value="login">로그인</button>
								</div>
							</form>
						</div>


					</div>

				</div>

			</div>

		</section><!-- #content end -->
		

	<!-- Jquery Script -->
	<script>
	$(document).ready(function () {
		// for button spinner
    	$("#login-form-submit").click(function () {
        	// disable button
        	$(this).prop("disabled", false);
        	// add spinner to button
        	$(this).html(
            	'<span class="spinner-grow spinner-grow-sm mr-05" role="status" aria-hidden="true"></span> 로그인 중'
        	);
    	});
	});
  	</script>
{% endblock %}
